    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body {
        background: linear-gradient(77deg, #d616c6, #030303, #561674, #0e287e, #640a36, #000000);
        background-size: 1200% 1200%;
        -webkit-animation: GradientBg 30s ease infinite;
        -moz-animation: GradientBg 30s ease infinite;
        animation: GradientBg 30s ease infinite;
        font-family: 'Roboto', sans-serif;
        color: #f5f5f5bb;
    }
    
    @-webkit-keyframes GradientBg {
        0% {
            background-position: 0% 35%
        }
        50% {
            background-position: 100% 66%
        }
        100% {
            background-position: 0% 35%
        }
    }
    
    @-moz-keyframes GradientBg {
        0% {
            background-position: 0% 35%
        }
        50% {
            background-position: 100% 66%
        }
        100% {
            background-position: 0% 35%
        }
    }
    
    @keyframes GradientBg {
        0% {
            background-position: 0% 35%
        }
        50% {
            background-position: 100% 66%
        }
        100% {
            background-position: 0% 35%
        }
    }
    
    .title {
        font-family: 'Montserrat', sans-serif;
        background-image: url('https://raw.githubusercontent.com/Wallux-0/Wallpapers/main/compressed/wallpapers/1.jpg');
        background-size: cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 80;
        font-weight: bolder;
        text-align: center;
    }
    
    .description {
        font-size: 23;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
     ::placeholder {
        color: hsl(0, 0%, 79%);
    }
    
    .search {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: hsl(0, 0%, 79%);
        font-weight: lighter;
        font-size: 28;
        margin-top: 2vh;
        background-color: rgba(255, 255, 255, 0.233);
        border: none;
        border-radius: 0.5vh;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 30vh;
    }
    
    .searchBtn {
        color: hsl(0, 0%, 79%);
        background-color: rgba(255, 255, 255, 0);
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size: 28;
        cursor: pointer;
    }
    
    .container {
        margin: 1vh;
        margin-top: 2vh;
    }
    
    .glassyContainer {
        display: inline-block;
        background: rgba( 255, 255, 255, 0.20);
        border-radius: 0.5vh;
        width: auto;
        height: auto;
        padding: 5 5 5 5;
        margin: 1vh;
        transition: transform .5s;
        cursor: pointer;
    }
    
    .glassyContainer:hover {
        transform: scale(1.1);
    }
    
    .imgDisp {
        width: 400;
    }
    
    .imgText {
        margin-top: 0.4vh;
        text-align: center;
    }
    
    a {
        color: #ee82ee;
    }
    
    .tag {
        display: inline-block;
        background-color: #000000;
        border-radius: 1vh;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        padding: 5 5 5 5;
        font-size: 18;
        cursor: pointer;
        margin-left: 1vw;
        margin-bottom: 1vw;
        transition: transform .5s
    }
    
    .tag:hover {
        transform: scale(1.2);
    }
    
    .fullimagedisplay {
        border-radius: 0.5vh;
        background: rgba( 255, 255, 255, 0.2);
        backdrop-filter: blur(15px) saturate(150%);
        position: absolute;
        z-index: 100;
        right: 5vh;
        left: 5vh;
        top: 20vh;
        width: calc(100%-20%);
        height: calc(100%-10%);
        display: none;
    }
    
    .fullimagedisplay_img {
        width: 50%;
        height: 50%;
        padding: 20 20 20 20;
        border-radius: 1.5vh;
    }
    
    .fullimagedisplay_content {
        padding: 100 20 0 30;
        float: right;
        width: 45%;
        color: black;
    }
    
    .button {
        background: rgba( 255, 255, 255, 0.5);
        border: none;
        border-radius: 0.5vh;
        font-size: 28;
        font-family: 'Montserrat', sans-serif;
        backdrop-filter: blur(5px) saturate(150%);
        padding: 10 10 10 10;
        margin-right: 10;
        cursor: pointer;
    }
    
    .button1 {
        display: none;
    }
    
    @media only screen and (max-width: 960px) {
        .fullimagedisplay {
            height: 60%;
        }
        .fullimagedisplay_img {
            width: 95%;
            height: 60%;
        }
        .fullimagedisplay_content {
            padding: 0 10 10 20;
            float: left;
            display: inline;
            font-size: 12;
        }
        .button {
            display: none;
        }
        .button1 {
            display: inline-block;
            background: rgba( 255, 255, 255, 0.5);
            border: none;
            float: right;
            border-radius: 0.5vh;
            font-size: 38;
            font-family: 'Montserrat', sans-serif;
            backdrop-filter: blur(5px) saturate(150%);
            padding: 10 10 10 10;
            margin-right: 10;
            cursor: pointer;
        }
    }